:root {
  --pico-orange: #d24317;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#main {
  min-height: 100vh;
}

#header {
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: lightgray;
  height: 64px;
}

#header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header h1,
#header h2,
#header h3 {
  color: var(--pico-orange);
  padding: 0px;
  margin: 0px;
}

.header-nav-item {
  display: none;
}

@media screen and (min-width: 760px) {
  .header-nav-item {
    display: block;
  }

  #header-nav-mobile-menu {
    display: none;
  }
}

#footer {
  background-color: var(--pico-orange);
  color: white;
  padding-bottom: 200px;
}

#bookings-table-wrapper {
  overflow-x: auto;
}

@media screen and (min-width: 800px) {
  #bookings-table-wrapper {
    width: 100%;
  }
}

.booking-slot:hover {
  cursor: pointer;
}
