:root {
  --pico-orange: #d24317;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#main {
  min-height: 100vh;
}

#header {
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: lightgray;
  height: 64px;
}

#header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header h1,
#header h2,
#header h3 {
  color: var(--pico-orange);
  padding: 0px;
  margin: 0px;
}

.header-nav-item {
  display: none;
}

@media screen and (min-width: 760px) {
  .header-nav-item {
    display: block;
  }

  #header-nav-mobile-menu {
    display: none;
  }
}

#footer {
  background-color: var(--pico-orange);
  padding-bottom: 200px;
  font-size: 16px;
}

#footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: lightgray;
}

#footer li {
  color: white;
  list-style: none;
}

#wrapper-bookings-table {
  overflow-x: auto;
}

@media screen and (min-width: 800px) {
  #wrapper-bookings-table {
    width: 100%;
  }

  #footer .container {
    flex-direction: row;
  }

  #booking-details-form {
    width: 50%;
  }
}

#bookings-table table {
  table-layout: fixed;
}

#bookings-table th,
#bookings-table td {
  border: 1px solid gray;
  max-width: 200px;
  text-align: center;
  height: 64px;
}

.booking-slot {
  height: 64px;
}

.booking-slot-available:hover {
  cursor: pointer;
  transition: 200ms;
  background-color: yellow;
}

.booking-slot:active {
  background-color: darkgoldenrod;
  transition: 200ms;
}

.booking-slot-available {
  background-color: lightgreen;
}

.booking-slot-unavailable {
  background-color: lightcoral;
}

.booking-slot-user {
  background-color: lightskyblue;
}
