:root {
  --pico-green: #398712;
  --green-transparent: rgba(0, 128, 0, 0.5);
  --blue-transparent: rgba(83, 83, 255, 0.5);
  --gradient-gloss-green: linear-gradient(
    to bottom,
    var(--pico-green) 50%,
    darkgreen 50%,
    rgb(96, 191, 96) 100%
  );
  --gradient-gloss-green-hover: linear-gradient(
    to bottom,
    var(--pico-green) 50%,
    darkgreen 50%,
    rgb(135, 254, 135) 100%
  );
  --gradient-blue-green-transparent: linear-gradient(
    to bottom,
    var(--blue-transparent),
    var(--green-transparent)
  );
}

body {
  overflow-x: hidden;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p,
a,
span,
button,
li,
td,
tr {
  font-size: 14px;
}

.page {
  width: 100%;
}

#banner {
  background-image: url("./assets/banner.png");
  background-size: cover;
  background-position: center;
  height: 100px;
  display: none;
}

@media screen and (min-width: 760px) {
  .page {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 760px;
  }

  #banner {
    border-top-left-radius: 128px;
    border-top-right-radius: 128px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    width: 1000px;
  }
}

#main {
  min-height: 900px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 16px;
  color: white;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gradient-gloss-green);
  height: 44px;
  border-bottom: 1px solid var(--pico-green);
  padding-left: 6px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
}

#header ul {
  list-style-type: none;
  display: flex;
  height: 42px;
  flex-direction: row;
}

.header-nav-item {
  display: none;
}

.header li {
  height: 100%;
}

/* Sidepanel menu */
.sidepanel {
  height: 100%;
  visibility: hidden;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--green-transparent),
    transparent 90%,
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(4px);
  border: 1px solid gray;
  box-shadow: 2px 0px 6px 0px black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

/* Sidepanel links */
.sidepanel a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #767676;
}

/* Position and style the close button (top right corner) */
.sidepanel-btn-close {
  position: absolute;
  top: 12px;
  right: 24px;
}

/* Style the button that is used to open the sidepanel */
.sidepanel-btn-open {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-left: 1px solid green;
  width: 64px;
  height: 100%;
}

.sidepanel-btn-open:hover,
.sidepanel-btn-open:active {
  background: var(--gradient-gloss-green-hover);
  transition: 100ms;
}

@media screen and (min-width: 760px) {
  .header-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 1px solid green;
    min-width: 84px;
    height: 100%;
  }

  .header-nav-item:hover {
    background: var(--gradient-gloss-green-hover);
    transition: 100ms;
  }

  #header-nav-mobile-menu {
    display: none;
  }

  #header {
    padding-left: 14px;
    border-top: 1px solid rgb(108, 215, 108);
    border-left: 1px solid rgb(108, 215, 108);
    border-right: 1px solid rgb(108, 215, 108);
  }

  .sidepanel,
  .sidepanel-btn-open {
    display: none;
  }
}

#footer {
  background-color: var(--pico-green);
  padding-bottom: 200px;
  font-size: 16px;
  padding: 16px;
}

#footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#wrapper-bookings-table {
  margin-top: 12px;
  overflow-x: auto;
  width: 100%;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 4px 0px black;
}

@media screen and (min-width: 800px) {
  #footer .container {
    flex-direction: row;
  }

  #booking-details-form {
    width: 50%;
  }
}

#bookings-table table {
  width: 100%;
}

#wrapper-bookings-table table {
  table-layout: fixed;
  width: 100%;
}

#bookings-table th,
#bookings-table td {
  border: 1px solid gray;
  width: 100px;
  text-align: center;
  height: 64px;
}

.booking-slot {
  height: 64px;
  font-size: 16px;
}

.booking-slot-available:hover {
  cursor: pointer;
  transition: 200ms;
  background-color: rgba(255, 255, 0, 0.9);
}

.booking-slot:active {
  background-color: darkgoldenrod;
  transition: 200ms;
}

.booking-slot-available {
  background-color: rgba(144, 238, 144, 0.75);
}

.booking-slot-unavailable {
  background-color: rgba(240, 128, 128, 0.75);
}

.booking-slot-user {
  background-color: lightskyblue;
}

.content-box {
  padding: 6px;
  border-radius: 12px;
  border: 1px solid gray;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px black;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 600px) {
  .content-box {
    width: 50%;
  }
}

.btn-primary {
  background: var(--gradient-gloss-green);
  padding: 6px;
  border-top: 1px solid green;
  border-bottom: 1px solid lightgreen;
  border-right: 1px solid green;
  border-left: 1px solid green;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 0px black;
}

.btn-primary:hover,
.btn-primary:active {
  background: var(--gradient-gloss-green-hover);
  text-decoration: underline;
  transform: scale(105%);
  cursor: pointer;
}
